$color-black: rgba(0,0,0,1);
$color-white: rgba(255,255,255,1);
$color-clear: 'transparent';
$color-gray1: #f1f1f1;
$color-gray2: #b9b9b9;
$color-gray3: #999999;
$color-gray4: #333333;
$color-yellow: #ffe713;

$main-font-color: $color-black;
$main-theme-color: $color-yellow;
$sub-font-color1: $color-gray1;
$sub-font-color2: $color-gray2;
$sub-font-color3: $color-gray3;